@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@font-face {
  font-family: "Chalk";
  src: url("https://junokili.github.io/school-for-the-poor/css/fonts/dkcrayoncrumble-ddll-webfont.woff2")
      format("woff2"),
    url("https://junokili.github.io/school-for-the-poor/css/fonts/dkcrayoncrumble-ddll-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Chalk", "Pangolin", cursive;
  color: white;
}
.medium-text {
  font-family: "Chalk", "Pangolin", cursive;
  font-size: 40px;
  text-align: center;
}
.chalkboard {
  background: url("../images/chalkboard.jpg");
  background-position: relative;
  padding-top: 100px;
}
.long-divider {
  background: url("../images/long-divider-full.svg");
  background-repeat: no-repeat;
  margin-left: -2px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.vertical-divider {
  border-right: 10px solid transparent;
  padding: 15px;
  border-image: url("../images/vertical-divider-full.svg") 30 round;
}
.short-divider {
  background: url("../images/short-divider.svg");
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*---------------- navbar -------------------*/
.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 101;
}
.navbar {
  border: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}
.navbar .navbar-logo {
  font-family: "Chalk", "Pangolin", cursive;
  font-size: 54px;
  color: white;
  text-decoration: none;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
}
.navbar .navbar-logo:hover {
  color: #f21a1d;
}
.navbar-nav {
  text-align: right;
}
.navbar .navbar-toggler {
  border: 0;
}
button.navbar-toggler:focus {
  outline: none;
}
.fa-bars {
  border: none;
  font-size: 26px;
  color: white;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
}
.fa-bars:hover {
  color: #f21a1d;
}
ul.navbar-nav > li.mt-10 {
  margin-top: 10px;
}
ul.navbar-nav > li.mb-10 {
  margin-bottom: 10px;
}
ul.navbar-nav > li.nav-item > a.custom-link {
  padding-left: 20x;
  padding-right: 20px;
  text-align: right;
  font-size: 32px;
  color: white;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
}
ul.navbar-nav > li.nav-item > a.custom-link:hover {
  color: #f21a1d;
  text-decoration: none;
}

/*---------------- schoools page ----------------- */

div#map {
  min-height: 360px;
  max-width: 900px;
}

/*---------------- teachers page ----------------- */


/*---------------- scramble-game ----------------- */

.button-level {
  color: white;
  width: 150px;
  height: 70px;
  border-radius: 15%;
  text-align: center;
  vertical-align: center;
  font-size: 28px;
  margin: 15px;
}

.beginner {
    background: #fef900;
    border-color: #fef900;

}
.intermediate {
    background: #03dddc;
    border-color: #03dddc;
}
.advanced {
    background: #ff822e;
    border-color: #ff822e;
}

#buttonDiv {
  min-height: 70px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

button.start {
  background: #f21a1d;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 15%;
  border-color: #f21a1d;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
}

button.restart {
  background: #f21a1d;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 15%;
  border-color: #f21a1d;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
}

button.startClicked {
  background: white;
  color: #f21a1d;
  border-color: white;
}
button:focus {
  outline: none;
}

#memory-game {
  margin: auto;
  padding: 20px;
  text-align: center;
}
#memory-game > div {
  background: #f21a1d;
  border-radius: 15%;
  width: 120px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  font-size: 32px;
  cursor: grab;
  text-align: center;
  vertical-align: top;
}

#memory-game > div.tileClicked {
  background: #fff;
  color: #f21a1d;
  border-radius: 15%;
  width: 120px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  font-size: 32px;
  cursor: grab;
  text-align: center;
  vertical-align: top;
}

.hidden {
    height: 0;
    width: 0;
    border-radius: 0;
    font-size: 0px;
    margin: 0;
    border-color: transparent;
    background: transparent;
    padding:0;
}

/*---------------- footer ----------------- */

.row {
  margin-left: -20px;
  margin-right: -20px;
}
.footer {
  min-height: 100px;
  padding-top: 20px;
  text-align: center;
}
.footer.fixed {
  height: 250px;
  padding-top: 20px;
  text-align: center;
}
.footer .fa {
  margin-left: 20px;
  margin-right: 4px;
  font-size: 12px;
  color: #fff;
}
.footer .fa-video {
  margin-left: 20px;
  margin-right: 4px;
  font-size: 100px;
  color: #fff;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
}
.footer .fa-video:hover {
  color: #f21a1d;
}
.movie-icon {
  max-height: 100px;
}
ul.social > li > a > i {
  margin: 15px;
  font-size: 38px;
  color: #fff;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -ms-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
}
ul.social > li > a > i:hover {
  color: #f21a1d;
}

/*---------------------------- media query ------------------*/

@media (max-width: 600px) {
  .chalkboard {
    background: url("../images/chalkboard.jpg");
    background-position: relative;
    padding-top: 100px;
  }

  .medium-text {
    font-family: "Chalk", "Pangolin", cursive;
    font-size: 32x;
    text-align: center;
  }
  .vertical-divider {
    border-right: 10px solid transparent;
    padding: 15px;
  }

  .navbar-nav {
    text-align: center;
    background: rgb(0, 0, 0, 0.8);
  }

  .navbar .navbar-logo {
    font-family: "Chalk", "Pangolin", cursive;
    font-size: 38px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition-property: color;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -ms-transition-property: color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
  }

  .navbar .navbar-logo:hover {
    color: #f21a1d;
  }

  #memory-game {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  #memory-game > div {
    background: #f21a1d;
    border-radius: 15%;
    width: 60px;
    height: 40px;
    margin: 7px;
    padding: 5px;
    display: inline-block;
    font-size: 18px;
    cursor: grab;
    text-align: center;
    vertical-align: top;
  }

  #memory-game > div.tileClicked {
    background: #fff;
    color: #f21a1d;
    border-radius: 15%;
    width: 60px;
    height: 40px;
    margin: 7px;
    padding: 5px;
    display: inline-block;
    font-size: 18px;
    cursor: grab;
    text-align: center;
    vertical-align: top;
  }
}
